{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static '/grid.css' %}"/>

    <title> Log in </title>
  </head>

    

  <div class="wrapper">
        <header class="main-head">Bienvenido</header>
        <nav class="main-nav">
            
        </nav>
        <article class="content">

                <h1>UPAEP</h1>

                <form class="login" action="" method="post"> 
                    
                    <div><label for="username">Username</label>
                      <input type="text" name="username" id="username"></div>
                    <div><label for="password">Password</label>
                      <input type="password" name="password" id="password"></div>
                    
                    <div class="actions">
                      <input type="submit" name="login" value="Login">
                    </div>
                </form>
      </form>     
        </article> 

  </div>

</html>